@model QB_University.Models.UserModel;
@{
    ViewData["Title"] = "Sửa User";
    ViewData["fullname"] = "Admin";
}
<style>
    .form edit {
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
        text-align: center;
    }
</style>

<form asp-controller="Manage" asp-action="edit" class="form edit">
    <label for="fname">Full Name:</label><br>
    <input type="text" name="fname"><br><br>
    <label for="email">Email:</label><br>
    <input type="email" name="Email"><br><br>
    <label for="password">Password:</label><br>
    <input type="text" name="Password"><br><br>
    <label for="phone">Phone:</label><br>
    <input type="text" name="Phone"><br><br>
    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fa-solid fa-check" style="padding-right:5px;"></i>
        Xác nhận
    </button>
</form>
