@{
    ViewData["Title"] = "Hệ Thống Quản Lý Đại Học Quảng Bình";
    ViewData["fullname"] = "Admin";
}

<div id="content">
    <img class="img-intro" src="~/img/dai-hoc-quang-binh.png" style="width:100%; height:400px;">
</div>
